.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding: 20px;
}

.tile {
  width: 100px;
  height: 40px;
  background: #0a0a18;
  color: white;
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #0a0a18;
  transition: all 0.1s ease-in-out;
}

.tile:hover {
  background: #242442;
  border: 1px solid #7c7cff;
}

#outputString {
  margin: 50px 0px 70px;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 50px;
  color: #0a0a18;
  font-weight: 700;
}
